<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title> EloquentJs </title>

  <base href="/eloquentjs/">

  <link rel="stylesheet" href="vendor/all.css">
  <link rel="stylesheet" href="site.css">

</head>
<body class="docs pushable">

  <div class="ui sidebar inverted left vertical restorable menu">

  <div class="ui inverted icon menu">
    <div class="right aligned item">
      <i class="large close icon"></i>
    </div>
  </div>

  <a href="." class="header item">EloquentJs</a>

  <div class="item ">
    <a href="getting-started/">Getting Started</a>
      </div>

  <div href="client" class="item ">
    <a href="client/">Javascript library (client)</a>
      </div>

  <div href="server" class="item ">
    <a href="server/">PHP package for Laravel (server)</a>
      </div>
  
  <div href="recipes" class="item active">
    <a href="recipes/">Recipes</a>
      <div class="menu">
    <div class="item">
      <a href="recipes/data-binding.html">Usage with data-binding libraries</a>
    </div>
    <div class="item">
      <a href="recipes/npm-integration.html">Integrating with the npm package</a>
    </div>
    <div class="item">
      <a href="recipes/custom-connection.html">Customising the connection</a>
    </div>    
  </div>
  </div>

  <a href="//github.com/parsnick/eloquentjs" class="ui big secondary button" title="View on GitHub">
    <i class="github icon"></i>
    View on GitHub
  </a>

</div>

  <div class="pusher">
    
  <a class="toc toggler ui black icon button" title="Menu">
    <i class="sidebar icon"></i>
  </a>

  <main class="ui main text container">

    <div class="ui breadcrumb">
      <a class="section" href=".">EloquentJs</a>
      <i class="right angle icon divider"></i>
      <div class="active section">Recipes</div>
    </div>

      
  <h2 class="ui dividing header">Usage with data-binding libraries</h2>
  
  <p>
    Showing a listing of a particular resource - be it posts on a blog, tasks in a to-do list, or whatever else -
    is a common use-case. The example below shows how <em>EloquentJs</em> makes it easy to add server-side filtering
    and sorting to a list.
  </p>

  <h3>Preparation</h3>
  
  <p>
    This example focuses on the javascript side of <em>EloquentJs</em>. It assumes there's an existing <code>Task</code> model with fields for <code>title</code> (string) and <code>is_completed</code> (boolean),
    and you've generated an <code>eloquent.js</code> build. If you need help getting there, instructions are below&hellip; otherwise, skip ahead.
  </p>

  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      View set up steps
    </div>
    <div class="content">
      <ol>
        <li>
          Follow the <strong>Installation</strong> step as described in <a href="getting-started">Getting Started</a>
        </li>
        <li>
          Create a <code>Task</code> model that uses the <code>EloquentJsQueries</code> trait:
          <pre><code class="language-php">// app/Post.php
namespace App;

use EloquentJs\Model\EloquentJsQueries;
use Illuminate\Database\Eloquent\Model;

class Task extends Model {
    use EloquentJsQueries;
}</code></pre>        </li>
        <li>
          Create and run a migration for the <code>tasks</code> table with the following schema:
          <pre><code class="language-schema">Schema::create('tasks', function (Blueprint $table) {
    $table->increments('id');
    $table->string('title');
    $table->boolean('is_completed');
    $table->timestamps();
});</code></pre>        </li>
        <li>
          Register a route for the <code>Task</code> model using <code>Route::eloquent()</code>
          <pre><code class="language-routes">// app/Http/routes.php
    Route::eloquent('api/task', App\Task::class, ['only' => ['index']]);</code></pre>      
        </li>
        <li>
          Create an <code>eloquent.js</code> build by running <code>php artisan eloquentjs:generate</code>
        </li>
      </ol>
    </div>
  </div>

  <h3>Data</h3>

  <p>
    Assume our items are in the format:
  </p>
  <pre><code class="language-json">{
  "id": 1,
  "title": "First task",
  "is_completed": false,
  "created_at": "2016-01-23T00:42:35+0000"
}</code></pre>
  <h3>Markup</h3>

  <p>
    To start with, we need some markup to display our list. We also some form elements to control
    which items we show, and in what order:
  </p>

  <pre><code class="language-html5">&lt;fieldset&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot;&gt; Show only completed
  &lt;/label&gt;
  &lt;br&gt;
  Order by
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;order&quot; value=&quot;created_at&quot; checked&gt; date
  &lt;/label&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;order&quot; value=&quot;title&quot;&gt; title
  &lt;/label&gt;
&lt;/fieldset&gt;
&lt;ul&gt;
  &lt;li&gt;Task 1&lt;/li&gt;
  &lt;li&gt;Task 2&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  <div class="ui segment">
    <fieldset>
      <label>
        <input type="checkbox"> Show only completed
      </label>
      <br>
      Order by
      <label>
        <input type="radio" name="order" value="created_at" checked> date
      </label>
      <label>
        <input type="radio" name="order" value="title"> title
      </label>
    </fieldset>
    <ul>
      <li>Task 1</li>
      <li>Task 2</li>
      <li>...</li>
    </ul>
  </div>

  <h3>Objective</h3>

  <p>
    We need to do two things here:
  </p>
  <ol>
    <li>render our list of items into that <code>ul</code></li>
    <li>use those form elements to control which items our list shows</li>
  </ol>

  <h3>Implementation</h3>
  <p>
    Although we <em>could</em> do this in native javascript, using our favourite data-binding library makes
    it almost trivial - we can simply bind those form elements to a <code>modifiers</code> property on the
    view model, and define a <code>load</code> method that fetches the correct items.
  </p>

  <p>
    Here's a complete example using the Angular framework (but of course, other libraries are available):
  </p>

  <h4>Angular (1.x)</h4>
  <pre><code class="language-html">&#x3C;!DOCTYPE html&#x3E;
&#x3C;html lang=&#x22;en&#x22; ng-app=&#x22;todos&#x22;&#x3E;
&#x3C;head&#x3E;
  &#x3C;title&#x3E;To-do list&#x3C;/title&#x3E;
&#x3C;/head&#x3E;
&#x3C;body ng-controller=&#x22;TaskController&#x22;&#x3E;

  &#x3C;fieldset&#x3E;
    &#x3C;label&#x3E;
      &#x3C;input type=&#x22;checkbox&#x22; ng-model=&#x22;modifiers.complete&#x22;&#x3E; Show only completed
    &#x3C;/label&#x3E;
    &#x3C;br&#x3E;
    Order by
    &#x3C;label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; name=&#x22;order&#x22; value=&#x22;created_at&#x22; ng-model=&#x22;modifiers.order&#x22; checked&#x3E; date
    &#x3C;/label&#x3E;
    &#x3C;label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; name=&#x22;order&#x22; value=&#x22;title&#x22; ng-model=&#x22;modifiers.order&#x22;&#x3E; title
    &#x3C;/label&#x3E;
  &#x3C;/fieldset&#x3E;

  &#x3C;ul&#x3E;
    &#x3C;li ng-repeat=&#x22;task in tasks&#x22;&#x3E;
      &#x3C;span ng-if=&#x22;task.is_completed&#x22;&#x3E;(done)&#x3C;/span&#x3E;
      {{ task.title }}
    &#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;

  &#x3C;script src=&#x22;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js&#x22;&#x3E;&#x3C;/script&#x3E;
  &#x3C;script src=&#x22;eloquent.js&#x22;&#x3E;&#x3C;/script&#x3E;
  &#x3C;script&#x3E;
  angular
    .module(&#x27;todos&#x27;, [])
    .controller(&#x27;TaskController&#x27;, function($scope) {

      // Define the avilable modifiers for our task list
      $scope.modifiers = {
        complete: false,
        order: &#x27;id&#x27;
      };

      // Fetch task list using current modifiers
      $scope.reload = function () {
        var query = Eloquent.Task.query();

        if ($scope.modifiers.complete) {
          query.where(&#x27;is_completed&#x27;, true);
        }

        if ($scope.modifiers.order) {
          query.orderBy($scope.modifiers.order);
        }

        query.get().then(tasks =&#x3E; {
          $scope.tasks = tasks;
          $scope.$apply();
        });
      };

      // Reload if a filter changes
      $scope.$watch(&#x27;modifiers&#x27;, $scope.reload, true);

      // And show the initial list
      $scope.reload();
    })

  &#x3C;/script&#x3E;
&#x3C;/body&#x3E;
&#x3C;/html&#x3E;</code></pre>
  <h3>Footnotes</h3>
  <p>
    For brevity, the example only shows two fairly simple "modifiers" for the list but in reality, you'll likely have more. You should be able to see how to add any number of additional filtering or sorting options. In this way, 
    you can easily build up a powerful UI with very little code. Not to mention, when you need to make changes a few
    months later, the code clearly describes exactly what you're doing.
  </p>

  </main>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="vendor/all.js"></script>
  <script>

    $(document).ready(function() {

      $('.help.popup').popup();

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.toggler')
        .sidebar('attach events', '.ui.sidebar .close.icon')
        .sidebar('setting', 'transition', 'overlay')
        .sidebar('setting', 'dimPage', false)
        .sidebar('setting', 'closable', false)
        .sidebar('setting', 'onChange', rememberState)
      ;

      // Restore sidebar state
      if (cookie.get('sidebar_open')) $('.ui.restorable.sidebar').sidebar('show');

      // Highlight current section in sidebar
      $('main.ui.text.container h2')
        .visibility({
          onTopPassed: function () {
            setActiveItem(this.id);
          },
          onTopPassedReverse: function () {
            var previous = $(this).prevAll('h2').first().attr('id');
            if (previous) setActiveItem(previous);
          },
          once: false
        });
    });

    function rememberState()
    {
      if ($(this).sidebar('is hidden'))
        cookie.set('sidebar_open', true, { path: '/eloquentjs/' });
      else
        cookie.set('sidebar_open', '', { path: '/eloquentjs/' });
    }

    function setActiveItem(name)
    {
      $('.ui.sidebar.menu a').each(function () {
        var $this = $(this);
        if (name && $this.attr('href').indexOf('#'+name) >= 0) {
          $this.addClass('active');
        } else {
          $this.removeClass('active');
        }
      });
    }

  </script>

    <script>
    $(function () {
      $('.ui.main table:not(.table)').addClass('ui compact celled table');
    });
  </script>
  <script>
    $(function () {
      $('.ui.accordion').accordion();
    });
  </script>
</body>
</html>
