<!-- Following Menu -->
<div class="ui large top {% if include.classes %} {{ include.classes }} {% endif %} menu">
  <div class="ui container">
    <a class="item {% if include.active == 'overview' %} active {% endif %}" href=".">Overview</a>
    <a class="item {% if include.active == 'starting' %} active {% endif %}" href="getting-started">Getting Started</a>
    <a class="item {% if include.active == 'server' %} active {% endif %}" href="server">Server</a>
    <a class="item {% if include.active == 'client' %} active {% endif %}" href="client">Client</a>
    <div class="right item">
      <a class="ui icon button" href="https://github.com/parsnick/eloquentjs">
        <i class="github icon"></i>
      </a>
    </div>
  </div>
</div>