.ui.segment.sample {
  overflow: hidden;
  margin: 2rem 0;
  font-size: 0.9em;
  & > .highlight > pre { margin: 0 }
  & > .ui.corner.label {
    opacity: 0.7;
    &::before {
      position: absolute;
      top: 1em;
      width: 2em;
      text-align: center;
      color: #eee;
      font-size: 10px;
    }
  }
}
.ui.segment.php.sample > .ui.corner.label {
  border-color: #8892BF;
  &::before {
    content: 'php';
    font-style: italic;
  }
}
.ui.segment.es5.sample > .ui.corner.label {
  border-color: #F0DB4F;
  &::before {
    content: 'JS';
    color: #333;
  }
}
.ui.segment.es6.sample > .ui.corner.label {
  border-color: #F0DB4F;
  &::before {
    content: 'ES6';
    color: #333;
  }
}
.ui.segment.terminal.sample > .ui.corner.label {
  border-color: #000;
  &::before {
    content: '>';
  }
}

code:not([data-lang]) {
  background: #eee;
  border-radius: 2px;
}