.sample {
  overflow: hidden;
  &::after {
    border-right: 1px solid rgba(34,36,38,.05);
    color: rgba(34,36,38,.5);
    font-size: 0.6rem;
    font-weight: bold;
    position: absolute;
    padding-top: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.4rem;
    text-align: center;
  }
}
.php.sample::after {
  content: 'php';
  font-style: italic;
  background: #8892BF;
}
.es5.sample::after {
  content: 'JS';
  background: #F0DB4F;
}
.es6.sample::after {
  content: 'ES6';
  background: #F0DB4F;
}