@import "pygments";
@import "code";
@import "homepage";

main.text.container {
    padding-top: 1rem;
    padding-bottom: 10rem;
}

.toc.toggler {
    position: fixed;
    cursor: pointer;
    top: 1rem;
    left: 1rem;
}

@media screen and (max-width: 800px) {
    .docs .toc.toggler, .docs .ui.sidebar {
        display: none !important;
    }
}

.docs {
    h2.ui.header {
        margin-top: 4rem;
    }
    h3, h4 {
        margin-top: 3rem;
    }
}

.ui.sidebar {
    .item:not(.active) > .menu {
        display: none;
    }
}

.small {
    font-size: 0.95rem;
}