@import "pygments";
@import "code";
@import "homepage";

.subtitle {
    font-size: 66%;
    opacity: 0.6;
}
main.text.container {
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.ui.toc.rail {
    margin-top: 4rem;
}

#toc { display: none }

@media only screen and (min-width: 992px) {
    #toc { display: block }
}